.container{
    display:flex;
    flex-direction: column;
    margin-right: 15px;
}

.container img{
    width: 100px;
    height: auto;
} 
.text-grey{
    color:grey;
}

.container p {
    font-size: 0.8em;
}
